.category-items {
  .category-item {
    cursor: pointer;
    height: 30px;
    display: flex;
    justify-content: space-between;
    .add-item {
    }
  }

  .store-item:hover {
    .add-item {
      display: inline-block;
    }
    .item-name {
      font-weight: bold;
    }
  }

}
