<div class="category-items">
  <div style="margin-left: auto; padding: 5px;">
    <button (click)="initNew()" [disabled]="newCategory" style="margin-left: 5px;" class="btn btn-sm btn-success">Add new</button>
  </div>
  <li class="list-group-item" *ngFor="let category of categories; let i = index; trackBy:trackByFn">
    <div class="category-item">
      <div *ngIf="!editingCategory || editingCategory._id !== category._id" class="item-name">{{category.name}}</div>
      <input placeholder="enter category" style="width: 60%;" *ngIf="editingCategory && editingCategory._id === category._id" class="form-control" [(ngModel)]="category.name"/>
      <div class="btn-group">
        <button *ngIf="!editingCategory || editingCategory._id !== category._id" (click)="editCategory(category)" class="btn btn-info add-item">Edit</button>
        <button *ngIf="editingCategory && editingCategory._id === category._id" (click)="saveCategory(category)" class="btn btn-success add-item">Save</button>
        <button (click)="deleteCategory(category)" class="btn btn-danger add-item">Delete</button>
      </div>
    </div>
    <app-emails
      *ngIf="emails && categories"
      [categories]="categories"
      [emails]="emails | emailCategory: category"
      [category]="category"
      (onUpdateEmail)="onUpdateEmail.emit($event)"
      (onDeleteEmail)="onDeleteEmail.emit($event)"
      (onNewEmail)="onNewEmail.emit($event)"
    >
    </app-emails>
  </li>
  <li *ngIf="newCategory" class="list-group-item">
    <div class="category-item">
      <input placeholder="enter new category" style="width: 60%;" class="form-control" [(ngModel)]="newCategory.name"/>
      <div class="btn-group">
        <button (click)="saveNew()" class="btn btn-success add-item">Save</button>
        <button (click)="cancelNew()" class="btn btn-info add-item">Cancel</button>
      </div>
    </div>
  </li>
</div>
