<div class="email-items">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Email</th>
        <th scope="col">Category</th>
        <th scope="col"><span>Actions</span> <button [title]="!categories || !categories.length ? 'Create category first' : 'Save the new email first'" (click)="initNew()" [disabled]="newEmail || !categories?.length" style="margin-left: 5px;" class="btn btn-sm btn-success">+</button></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let email of emails; let i = index; trackBy:trackByFn">
        <th scope="row">{{i + 1}}</th>
        <td>
          <span *ngIf="!editingEmail || editingEmail._id !== email._id">{{email.emailId}}</span>
          <input placeholder="enter email" class="form-control" *ngIf="editingEmail && editingEmail._id === email._id" type="email" [(ngModel)]="editingEmail.emailId" />
        </td>
        <td>
          <span *ngIf="!editingEmail || editingEmail._id !== email._id">{{email.category.name}}</span>
          <select class="form-control" *ngIf="editingEmail && editingEmail._id === email._id" [(ngModel)]="editingEmail.category">
            <option [value]="category._id" *ngFor="let category of categories"> {{category.name}} </option>
          </select>
        </td>
        <td>
          <div class="btn-group">
            <button
              (click)="editEmail(email)"
              *ngIf="!editingEmail || editingEmail._id !== email._id"
              class="btn btn-sm btn-info"
            >
              Edit
            </button>
            <button
              (click)="saveEmail(editingEmail)"
              *ngIf="editingEmail && editingEmail._id === email._id"
              class="btn btn-sm btn-success"
            >
              Save
            </button>
            <button
              (click)="deleteEmail(email)"
              class="btn btn-sm btn-danger"
            >
              Delete
            </button>
          </div>
        </td>
      </tr>
      <tr *ngIf="newEmail">
        <th scope="row"></th>
        <td>
          <input placeholder="enter new email" class="form-control" type="input" [(ngModel)]="newEmail.emailId" />
        </td>
        <td>
          <select class="form-control" [(ngModel)]="newEmail.category">
            <option [value]="category._id" *ngFor="let category of categories"> {{category.name}} </option>
          </select>
        </td>
        <td>
          <div class="btn-group">
            <button
              (click)="saveNew()"
              class="btn btn-sm btn-success"
            >
              Save
            </button>
            <button
              (click)="cancelNew()"
              class="btn btn-sm btn-info"
            >
              Cancel
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
