<header>
  <div class="items-header">
    <div class="items-heading">
      <h3>Email Marketing</h3>
    </div>
    <div class="buttons-panel btn-group">
      <button class="btn btn-primary" (click)="logout()">Logout</button>
    </div>
  </div>
</header>
<main class="main-content">
  <ul class="nav nav-tabs">
    <li [title]="disableEmailView ? 'Create category first' : ''" role="presentation" [class.disabled]="disableEmailView" [class.active]="emailView" (click)="!disableEmailView ? emailView = true : emailView = false;" ><a href="javascript:void(0)">Email View</a></li>
    <li role="presentation" [class.active]="!emailView" (click)="emailView = false;" ><a href="javascript:void(0)">Category View</a></li>
  </ul>
  <app-emails
    [categories]="categories$ | async"
    [emails]="emails$ | async"
    *ngIf="emailView"
    (onUpdateEmail)="updateEmail($event)"
    (onDeleteEmail)="deleteEmail($event)"
    (onNewEmail)="saveNewEmail($event)"
  >
  </app-emails>
  <app-categories
    [categories]="categories$ | async"
    [emails]="emails$ | async"
    *ngIf="!emailView"
    (onUpdateEmail)="updateEmail($event)"
    (onUpdateCategory)="updateCategory($event)"
    (onDeleteEmail)="deleteEmail($event)"
    (onDeleteCategory)="deleteCategory($event)"
    (onNewEmail)="saveNewEmail($event)"
    (onNewCategory)="saveNewCatgory($event)"
  >
  </app-categories>
</main>
