<div class="container">
  <div class="jumbotron login-header">
    <h1>Welcome</h1>
    <h2>Email Marketing</h2>
  </div>
  <div class="panel panel-primary" style="width: 50%; margin-left: auto; margin-right: auto;">
    <div class="panel-heading">{{isLogin ? 'Enter login details' : 'Enter signup details'}}</div>
    <div class="panel-body">
      <form *ngIf="isLogin">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" class="form-control" [(ngModel)]="email" id="email" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control" [(ngModel)]="password" id="password" placeholder="Password">
        </div>
        <div class="submit-panel">
          <button [disabled]="!email || !password" (click)="login()" class="btn btn-primary">Login</button>
          <a class="no-account" href="javascript:void(0);" (click)="isLogin = false;">No Account? Click here to create</a>
        </div>
      </form>
      <form *ngIf="!isLogin">
        <div class="form-group">
          <label for="name">Username</label>
          <input type="input" name="username" class="form-control" [(ngModel)]="username" id="username" placeholder="Enter unique username">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" class="form-control" [(ngModel)]="email" id="email" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control" [(ngModel)]="password" id="password" placeholder="Password">
        </div>
        <div class="submit-panel">
          <button [disabled]="!username || !password || !email" (click)="signUp()" class="btn btn-primary">Create Account</button>
          <a class="no-account" href="javascript:void(0);" (click)="isLogin = true;">Already have account? Click here to login</a>
        </div>
      </form>
    </div>
  </div>
</div>
